:root{
    --cinza_33: #333333;
    --cinza_33_op: #333333e8;
    --cinza_33_op75: #333333bf;
    --branco_ff: #FFFFFF;
    --laranja_f9: #F9963B;
    --preto_op: #000000cc;
}


.upper{
    text-transform: uppercase;
}

.nav-item a{
    font-size: 1vw;
}

.font_cor{
    color: var(--cinza_33);
}

.poppins{
    font-family: 'Poppins';
}

.titulo{
    font-weight: 800;
}


.vermais_main{
    border: 2px solid black;
    white-space: nowrap;
    border-radius: 20px;
    font-size: 1rem;
    margin-top: 25px;
}

.vermais_main:hover, .card-body a:hover{
    background-color: black;
    color: white;
}

.titulo_card{
    font-weight: 500;
    font-size: 1.5rem;
}

.texto_card{
    font-size: 1.1rem;
    margin-top: 1.5rem;
}

.ver_mais_destaques{
    border: 2px solid black;
    border-radius: 20px;
    background-color: white;
    transform: translate(0px, 35px);
    font-size: 0.8rem;
}





/* header */

.imagem_banner{
    width: 100%;
    height: 30vw;
}







/* footer */
.icon{
    width: 22%;
    padding: 0.6vw;
    border: 3px solid white;
    border-radius: 50%;
}

.hr_footer{
    border: none;
    border-top: 3px solid white;
    opacity: 1;
    margin: auto;
    margin-top: 8vw;
    width: 5%;
}


.contactos_2{
    text-align: center;
    display: flex;
    justify-content: center;
}


.fb_icon{
    width: 7vw;
    padding: 0.9vw;
    border: 3px solid white;
    border-radius: 50%;
}

.nav_footer a{
    text-decoration: none;
    color: white;
    font-weight: lighter;
    padding: 0vw 0.4vw;
}

.nav_footer a:hover{
    color: var(--laranja_f9);
}