:root{
    --cinza_33: rgb(51, 51, 51);
    --cinza_33_op: #333333e8;
    --cinza_33_op75: #333333bf;
    --branco_ff: #FFFFFF;
    --laranja_f9: #F9963B;
    --preto_op: #000000cc;
}


.upper{
    text-transform: uppercase;
}

.poppins{
    font-family: 'Poppins';
}

table, th, td{
    border: 2px dotted rgb(51, 51, 51);
    border-collapse: collapse;
    margin: auto;
    padding: 10px;
  }
